
DATABASE_URL=""
DATABASE_SSL_REQUIRED=""

# AWS KEYS
AWS_S3_ACCESS_KEY_ID=""
AWS_S3_SECRET_ACCESS_KEY=""
AWS_S3_REGION=""
AWS_S3_BUCKET_NAME=""

# Public CDN URL
NEXT_PUBLIC_CDN_URL=""

SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM_EMAIL=""
SMTP_HOST=""
SMTP_FROM_NAME=""
SMTP_PORT=""

# NEXTAUTH
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
NEXT_PUBLIC_APP_URL=""

# GOOGLE CLOUD CONSOLE
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_REFRESH_TOKEN=""
OAUTH_USERNAME=""
GOOGLE_PLACES_API_KEY=""

# JWT SECRET KEYS
JWT_OTP_SECRET=""
JWT_OTP_EXPIRY=""
JWT_SET_PASSWORD_SECRET=""
JWT_SET_PASSWORD_EXPIRY=""
JWT_FORGET_PASSWORD_SECRET=""
JWT_FORGET_PASSWORD_EXPIRY=""
JWT_EXAMINER_INFO_REQUEST_SECRET=""
JWT_EXAMINER_INFO_EXPIRY=""
JWT_RESUME_SECRET=""
JWT_CLAIMANT_APPROVE_SECRET=""

# 
NEXT_PUBLIC_CLAIMANT_AVAILABILITY_URL=""

NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=""


# GOOGLE DOC CONF
DOCS_REFRESH_TOKEN=""
GOOGLE_REPORT_TEMPLATE_ID=
GOOGLE_CONTRACT_FOLDER_ID=""
EMAIL_REPLY_TO=""

# ADMIN NOTIFY
ADMIN_NOTIFICATION_EMAIL= 